.hero-container {
  width: 100vw;
  height: calc(100vh - 100px);
  font-size: 1.2rem;
  color: white;
  font-family: monospace;

  position: relative;

  padding-top: 5rem;
}

.typed {
  text-align: center;
  height: 25%;
}

.console {
  color: #a5daf0;
}

.log {
  color: #e2e507;
}

.greeting {
  color: #a5daf0;
}

.greet {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
  text-align: center;
}

.--1 {
  height: 35%;
}

.--2 {
  font-family: sans-serif;
  font-size: 6vw;
  font-weight: bold;
  text-transform: uppercase;

  background-image: url("https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.particles {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.3;
  z-index: -1;
}
