@media screen and (min-width: 764px) {
  .MuiDivider-root {
    width: 50%;
    margin: 0 auto;
    transform: translate(50%);
  }
}

.nav-tab-container {
  position: relative;
  transition: position 400ms;
}

.scrolled {
  position: fixed;
  top: 0;
  transition: position 400ms;
}
