.container-heading {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.name-last {
  color: #ffdd33;
  margin-left: 20px;
}

.name-first {
  color: white;
}
