.abt-me-btn-container-dark {
  margin-top: 60px;
  width: 40%;
  border: 1px white;
  border-style: solid solid solid none;

  text-align: center;
  font-size: 25px;
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}

.abt-me-btn-container-light {
  margin-top: 60px;
  width: 40%;
  border: 1px purple;
  border-style: solid solid solid none;
  text-align: center;
  font-size: 25px;
  cursor: pointer;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  box-shadow: 10px 5px 5px black;
}
